@import './colors';

.button {
  font-family: var(--body-font-family);
  padding: 0 0.75rem;
  min-height: 2.5rem;
  border-radius: var(--button-roundedCorners);
  background-color: var(--button-filled);
  border: 1px solid var(--button-color);
  color: var(--button-fontColor);
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;

  &--floating {  
    background-color: var(--button-floating-filled);
  }

  &-title {
    font-size: 18px;
    line-height: 56px;
  }

  &--underline {
    background-color: transparent;
    border-radius: unset;

    ::before {
      content: '';
      position: absolute;
      bottom: -8px;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $refy-color-primary;
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    &-white {

      ::before {
        background-color: $refy-white;
      }

    }

    :active::before {
      left: 0;
      right: auto;
      width: 100%;
    }

    @media (hover: hover) and (pointer: fine) {

      :hover::before {
        left: 0;
        right: auto;
        width: 100%;
      }

    }

  }
}