@import './colors';

.button {
  padding: 0 0.75rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  
  &-basic {
    background-color: $refy-color-primary;
    color: $refy-white;
  }

  &-title {
    font-size: 18px;
    line-height: 56px;
  }
}