.floating-container--bottom {
  position: fixed;
  bottom: 50px;
  z-index: 1000;
  -webkit-animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
  animation: fadein-bottom 0.5s, fadeout-bottom 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein-bottom {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 50px;
    opacity: 1;
  }
}

@keyframes fadein-bottom {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 50px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 50px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}