.navbar {

  &--stuck {
    margin-bottom: -4.5rem;
  }

  &-item {
    font-family: var(--body-font-family);
    transition: opacity 300ms ease-in-out;

    &-underline {
      transition: opacity 300ms ease-in-out;
      height: 0.25rem;
    }

    &:not(.active) {
      opacity: 0.6;

      .navbar-item-underline {
        opacity: 0;
      }

      &:hover,
      &:active {
        .navbar-item-underline {
          opacity: 1;
        }
      }
    }
  }
}