$refy-dark: #000;
$refy-light: #FFF;
$refy-black: var(--refy-black);
$refy-white: var(--refy-white);
$refy-backdrop: var(--refy-backdrop);
$refy-blue: var(--refy-blue);
$refy-placeholder: var(--refy-placeholder);
$refy-grey: var(--refy-grey);
$refy-text-grey: var(--refy-text-grey);
$refy-text-contrast-grey: var(--refy-text-contrast-grey);
$refy-grey-1000: var(--refy-grey-1000);
$refy-grey-900: var(--refy-grey-900);
$refy-grey-800: var(--refy-grey-800);
$refy-grey-400: var(--refy-grey-400);
$refy-grey-300: var(--refy-grey-300);
$refy-grey-200: var(--refy-grey-200);
$refy-grey-100: var(--refy-grey-100);
$refy-grey-50: var(--refy-grey-50);
$refy-grey-0: var(--refy-grey-0);
$refy-grey-blue: var(--refy-grey-blue);

$refy-red-800-primary: #da0c1f;
$refy-orange-800-primary: #ff9b00;
$refy-green-800-primary: #64a844;
$refy-grey-200-tertiary: #dfe2e6;

$refy-red: #F44336;
$refy-orange: #FFAE37;
$refy-green: #00AE64;
$refy-neutral: #929FAD;

$refy-gold: #FFCA28;

$refy-color-primary: #FE6680;
$refy-color-secondary: #64B5F6;
$refy-color-tertiary: lighten($refy-color-primary, 50%);
$refy-color-primary-disabled: #df7894;
$refy-color-danger: $refy-red-800-primary;
$refy-color-caution: $refy-orange-800-primary;
$refy-color-success: $refy-green-800-primary;
$refy-color-disabled: $refy-grey-200-tertiary;

$linkedin-color: #0e76a8;
$twitter-color: #1DA1F2;
$instagram-color: #833AB4;
$facebook-color: #4267B2;
$whatsapp-color: #25D366;
$slack-color: #E01E5A;
$microsoft-color: #00A1F1;

.background-color {

  &--white {
    background-color: $refy-white;
  }

  &--grey {
    background-color: $refy-grey;

    &--0 {
      background-color: $refy-grey-0;
    }

    &--50 {
      background-color: $refy-grey-50;
    }

    &--100 {
      background-color: $refy-grey-100;
    }

    &--blue {
      background-color: $refy-grey-blue;
    }
  }

  &--blurr {

    &-dark {
      background-color: rgba($refy-dark, 0.44);
    }

  }
}
