@import './fonts';
@import './colors';
@import './sizings';

html,
body {
  font-family: var(--body-font-family);
}

.font {

  &-bold {
    font-weight: $font-bold !important;
  }

  &-normal {
    font-weight: $font-normal !important;
  }

  &-line-through {
    text-decoration: line-through;
  }

  &-underline {
    text-decoration: underline;
  }

  &-hover {
    &--underline:hover {
      text-decoration: underline;
    }
  }

  &-shadow {
    text-shadow: 1px 1px 2px $refy-grey-900;
  }

  &-big-title {
    font-family: var(--header-font-family);
    font-weight: $font-bold;
    line-height: 3rem;
    color: var(--title-color-theme);
    font-size: 40px;

    @media (max-width: $mobile-breakpoint) {
      font-size: 32px;
    }

  }

  &-title {
    font-family: var(--header-font-family);
    font-weight: $font-bold;
    font-size: 20px;
    line-height: 2rem;
    color: var(--title-color-theme);
  }

  &-subtitle {
    font-family: var(--header-font-family);
    font-weight: $font-medium;
    font-size: 18px;
    line-height: 2rem;
    color: var(--body-color-theme);
  }

  &-header {
    font-family: var(--header-font-family);
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--prose-color-theme);
  }

  &-hint {
    font-family: var(--body-font-family);
    font-size: 14px;
    line-height: 1.5rem;
    color: var(--body-color-theme);

    &--error {
      color: $refy-color-danger;
    }
  }

  &-value {
    font-family: var(--body-font-family);
    font-size: 13px;
    line-height: 1rem;
    color: var(--body-color-theme);
  }

  &-multiline {
    font-family: var(--body-font-family);
    font-size: 15px;
    line-height: 1.5rem;
    color: var(--body-color-theme);
    overflow-wrap: break-word;
    white-space: break-spaces;

    &--2 {
      min-height: 1.5rem * 2;
    }

    span {
      color: var(--body-color-theme);
    }
  }

  &-prose {
    font-family: var(--body-font-family);
    font-size: 20px;
    line-height: 2rem;
    font-weight: $font-normal;
    color: var(--prose-color-theme);
    overflow-wrap: break-word;
    white-space: normal;

    * {
      font-family: var(--body-font-family) !important;
    }

    p {
      margin-bottom: 1rem;
    }

    strong {
      font-size: 24px;
      line-height: 2.5rem;
      color: var(--color-grey-1000-theme);
      font-weight: $font-bold;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.625rem;
      margin-block-start: 0;
      margin-block-end: 0;

      li {
        padding-left: 0.375rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

        &:last-of-type {
          margin-bottom: 1.5rem;
        }
      }
    }

    @media (max-width: $mobile-breakpoint) {
      font-size: 19px;

      strong {
        font-size: 22px;
      }

    }

    &--condensed {
      font-size: 16px;

      strong {
        font-size: 18px;
      }

    }

  }

  &-badge {
    font-family: var(--body-font-family);
    font-weight: $font-medium;
    font-size: 14px;
    line-height: 1.5rem;

    &--condensed {
      font-size: 12px;
      line-height: 1.25rem;
    }

    &--grey {
      color: $refy-grey;
    }

    &--contrast-grey {
      color: $refy-text-contrast-grey;
    }
  }

  &--white {
    color: $refy-white;
  }

  &--black {
    color: $refy-black;
  }

  &--dark {
    color: $refy-grey-1000;
  }

  &--grey {
    color: $refy-grey-300;
  }

  &--red {
    color: $refy-red;
  }

  &--ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    * {
      white-space: inherit !important;
      overflow: inherit !important;
      text-overflow: inherit !important;
    }
  }

  &--ellipsis-2 {
    -webkit-line-clamp: 2;
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

}

.icon-font {
  text-rendering: optimizeLegibility;
  width: inherit;
  height: inherit;

  &--normal {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }

  &--navbar {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  &--field-button {
    color: $refy-grey;
  }

  &--dark {
    color: $refy-grey-1000;
  }

  &--light {
    color: $refy-white;
  }

  &--green {
    color: $refy-green;
  }

  &--red {
    color: $refy-red;
  }

  &--orange {
    color: $refy-orange;
  }

  &--grey-300 {
    color: $refy-grey-300;
  }

  &--grey {
    color: $refy-grey;
  }

  &--blue {
    color: $refy-blue;
  }

  &--primary {
    color: $refy-color-primary;
  }

  &--social {

    &-linkedin {
      color: $linkedin-color;
    }

    &-twitter {
      color: $twitter-color;
    }

    &-instagram {
      color: $instagram-color;
    }

    &-facebook {
      color: $facebook-color;
    }

    &-whatsapp {
      color: $whatsapp-color;
    }

    &-slack {
      color: $slack-color;
    }

    &-microsoft {
      color: $microsoft-color;
    }

  }

}